#root
{
  color: white;
}

.game-container{
  margin: 10px;
 display: flex;
 justify-content: center;
 align-items: center;
 height: 90vh;
}

.particles-container {
  position: relative;
  width: 100%;
  height: 100%;
}
